<% provide :title, 'Home' %>
<div class="home-container">
  <div class="home-logo-container d-flex align-items-center justify-content-center">
    <%= image_tag 'atomic_crm_logo.png', class: 'home-logo'%>
  </div>
  <button class="home-button home-log-in-button d-flex mx-auto justify-content-center">
    <%= link_to 'Log In'.upcase, '#' %>
  </button>
  <button class="home-button home-sign-up-button d-flex mx-auto justify-content-center">
    <%= link_to 'Sign Up'.upcase, '#' %>
  </button>
</div>
