<% provide(:title, 'Log In') %>
<div class="d-flex top-bar atomic-purple align-items-center justify-content-between">
  <a href="<%= root_path %>">
    <%= display_svg('white_back_arrow.svg') %>
  </a>
  <span class="top-bar-title">LOGIN</span>
  <a href="#" class="top-bar-action">Log In</a>
</div>
