/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* variables */
$atomic-purple: #8e24aa;
$atomic-purple-medium: rgba(142, 36, 170, 0.8);
$atomic-purple-light: rgba(142, 36, 170, 0.1);
$atomic-orange: #ff7043;
$atomic-dark-gray: #545454;
$atomic-light-gray: #737373;

$standard-margin: 8px;
$double-margin: 16px;
$triple-margin: 24px;
$medium-margin: 32px;
$large-margin: 40px;
$extra-large-margin: 64px;

$font-small: 40px;
$font-medium: 46px;
$font-large: 48px;
$font-extra-large: 56px;

/* Tags */

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

input {
  background-color: transparent;
  border: none;
}

::placeholder {
  color: $atomic-light-gray;
}

/* Classes */

.gray-link {
  &:hover {
    color: $atomic-light-gray;
  }
}

.alert {
  margin-bottom: 0;
  font-size: $font-small;
}

.atomic-purple {
  background-color: $atomic-purple;
}

.atomic-light-gray {
  color: $atomic-light-gray;
}

.top-bar {
  padding: $triple-margin $medium-margin $triple-margin $standard-margin;
}

.top-bar-title {
  color: white;
  font-size: $font-large;
}

.top-bar-action {
  color: white;
  font-size: $font-small;
  padding-top: 4px;
}

.page-view {
  height: 100vh;
  background-color: $atomic-purple-light;
}

.form-container {
  margin-top: $extra-large-margin;
  border-top: 1px solid $atomic-light-gray;
  border-bottom: 1px solid $atomic-light-gray;
  background-color: white;
}

.form-input {
  display: block;
  font-size: $font-medium;
  width: 100%;
  padding: $medium-margin 0 $medium-margin $medium-margin;
  margin: 0;
  border: none;
  color: $atomic-dark-gray;
}

.form-divider {
  height: 1px;
  background-color: $atomic-light-gray;
  margin-left: $medium-margin;
}
